@font-face {
  font-family: "Satoshi-Black";
  src: url("../Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf")
    format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  width: 100%;
  background-color: #f1f1f1;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 144.78px;
  height: 27px;
  margin-left: 65px;
}

header nav {
  width: 888px;
  height: 33px;
  margin-right: 69px;
}

header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a {
  height: 33px;
  border-radius: 9px;
  padding: 4px 16px 5px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #222222;
  text-decoration: none;
  font-family: "Poppins", serif;
}

header nav ul li:hover {
  background-color: #222222;
  color: #ffffff;
  border-radius: 9px;
}

header nav ul li a:hover {
  color: #ffffff;
}

#centrales {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#candado {
  padding-top: 5em;
  width: 27em;
  height: 29em;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

.titulo {
  font-family: "Satoshi-Black";
  font-weight: 900;
  font-size: 4.6em;
}

.titulo-amarillo {
  background-color: rgba(255, 255, 0, 1);
  border-radius: 1em;
  width: fit-content;
  padding: 0 0.3em 0 0.3em;
}

#protegemos {
  color: rgba(103, 103, 103, 1);
  font-family: "Satoshi-MediumItalic";
  font-weight: 500;
  font-size: 1.6em;
  width: 75%;
  padding-top: 1em;
}

#seguridad {
  margin: 0;
  background-color: rgba(241, 241, 241, 1);
  padding: 1em;
  font-size: 0.9em;
  width: fit-content;
  border-radius: 5em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
