@font-face {
    font-family: 'Satoshi-Black';
    src: url('../Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('../Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(34, 34, 34, 1);
}

#cabecera {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.6em;
    background-color: rgba(241, 241, 241, 1);
}

#navegador{
    margin: 0 5em 0 0;
}

ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

img {
    margin: 0 0 0 3.8em;
}

a {
    color: black;
    text-decoration: none;
    padding: 0.3em 1em 0.3em 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal
}

li{
    list-style-type: none;
    font-family: 'Satoshi-MediumItalic';
    font-weight:500;
    font-size: 1em;
    padding: 0.4em;
}

a:hover {
    background-color: rgb(34, 34, 34, 1);
    color: aliceblue;
    border-radius: 0.5em;
}

#centrales{
    display: flex;
    justify-content:center;
    padding-top: 4.5em;
}

#candado{
    width: 30em;
    height: 30em;
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
    border-radius: 20px;
}

#titulo{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-family: 'Satoshi-Black';
    font-size: 4.6em;
    font-weight: 900;
}

#amarillo{
    background-color: rgb(255, 255, 0, 1);
    border-radius: 1em;
    width:fit-content;
    padding: 0 0.3em 0 0.3em;
}

#protegemos{
    color: rgb(103, 103, 103, 1);
    font-family: 'Satoshi-MediumItalic';
    font-weight:500;
    font-size: 1.6em;
}

#seguridad{
    margin:0;
    background-color: rgb(241, 241, 241, 1);
    padding: 1em;
    font-size: 0.9em;
    width:fit-content;
    border-radius: 5em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


